<%= form_with(model: component, local: true) do |form| %>
  <% if component.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(component.errors.count, "error") %> prohibited this component from being saved:</h2>

      <ul>
      <% component.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :local_identifer %>
    <%= form.text_field :local_identifer, id: :component_local_identifer %>
  </div>

  <div class="field">
    <%= form.label :identifier %>
    <%= form.text_field :identifier, id: :component_identifier %>
  </div>

  <div class="field">
    <%= form.label :previous_ids %>
    <%= form.text_field :previous_ids, id: :component_previous_ids %>
  </div>

  <div class="field">
    <%= form.label :work_id %>
    <%= form.collection_select(:work_id, Work.all, :id, :title, prompt: true ) %>
  </div>

  <div class="field">
    <%= form.label :artist_id %>
    <%= form.collection_select(:artist_ids, Artist.all, :id, :name, {prompt: true}, {multiple: true} ) %>
  </div>

  <div class="field">
    <%= form.label :description_en %>
    <%= form.text_area :description_en, id: :component_description_en %>
  </div>

  <div class="field">
    <%= form.label :description_jp %>
    <%= form.text_area :description_jp, id: :component_description_jp %>
  </div>

  <div class="field">
    <%= form.label :contributors_jp %>
    <%= form.text_field :contributors_jp, id: :component_contributors_jp %>
  </div>

  <div class="field">
    <%= form.label :contributors_jp %>
    <%= form.text_field :contributors_jp, id: :component_contributors_jp %>
  </div>

  <div class="field">
    <%= form.label :creation_date %>
    <%= form.date_select :creation_date, id: :component_creation_date %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color, id: :component_color %>
  </div>

  <div class="field">
    <%= form.label :sound %>
    <%= form.text_field :sound, id: :component_sound %>
  </div>

  <div class="field">
    <%= form.label :run_time %>
    <%= form.datetime_select :run_time, id: :component_run_time %>
  </div>

  <div class="field">
    <%= form.label :collection %>
    <%= form.text_field :collection, id: :component_collection %>
  </div>

  <div class="field">
    <%= form.label :media_type %>
    <%= form.text_field :media_type, id: :component_media_type %>
  </div>

  <div class="field">
    <%= form.label :media_format %>
    <%= form.text_field :media_format, id: :component_media_format %>
  </div>

  <div class="field">
    <%= form.label :component_type %>
    <%= form.text_field :component_type, id: :component_component_type %>
  </div>

  <div class="field">
    <%= form.label :relation %>
    <%= form.text_field :relation, id: :component_relation %>
  </div>

  <div class="field">
    <%= form.label :film_print_type %>
    <%= form.text_field :film_print_type, id: :component_film_print_type %>
  </div>

  <div class="field">
    <%= form.label :fps %>
    <%= form.number_field :fps, id: :component_fps %>
  </div>

  <div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand, id: :component_brand %>
  </div>

  <div class="field">
    <%= form.label :file_ame %>
    <%= form.text_field :file_ame, id: :component_file_ame %>
  </div>

  <div class="field">
    <%= form.label :codec %>
    <%= form.text_field :codec, id: :component_codec %>
  </div>

  <div class="field">
    <%= form.label :codec_id %>
    <%= form.text_field :codec_id, id: :component_codec_id %>
  </div>

  <div class="field">
    <%= form.label :file_size_gb %>
    <%= form.text_field :file_size_gb, id: :component_file_size_gb %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.text_field :duration, id: :component_duration %>
  </div>

  <div class="field">
    <%= form.label :bit_rate %>
    <%= form.text_field :bit_rate, id: :component_bit_rate %>
  </div>

  <div class="field">
    <%= form.label :dimensions %>
    <%= form.text_field :dimensions, id: :component_dimensions %>
  </div>

  <div class="field">
    <%= form.label :display_aspect_ratio %>
    <%= form.text_field :display_aspect_ratio, id: :component_display_aspect_ratio %>
  </div>

  <div class="field">
    <%= form.label :bit_depth %>
    <%= form.text_field :bit_depth, id: :component_bit_depth %>
  </div>

  <div class="field">
    <%= form.label :scan_type %>
    <%= form.text_field :scan_type, id: :component_scan_type %>
  </div>

  <div class="field">
    <%= form.label :encoded_date %>
    <%= form.datetime_select :encoded_date, id: :component_encoded_date %>
  </div>

  <div class="field">
    <%= form.label :provenance %>
    <%= form.text_area :provenance, id: :component_provenance %>
  </div>

  <div class="field">
    <%= form.label :viewing_restrictions %>
    <%= form.text_area :viewing_restrictions, id: :component_viewing_restrictions %>
  </div>

  <div class="field">
    <%= form.label :terms_governing_use %>
    <%= form.text_area :terms_governing_use, id: :component_terms_governing_use %>
  </div>

  <div class="field">
    <%= form.label :housing_annotations %>
    <%= form.text_area :housing_annotations, id: :component_housing_annotations %>
  </div>

  <div class="field">
    <%= form.label :item_annotations %>
    <%= form.text_area :item_annotations, id: :component_item_annotations %>
  </div>

  <div class="field">
    <%= form.label :condition_notes %>
    <%= form.text_area :condition_notes, id: :component_condition_notes %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes, id: :component_notes %>
  </div>

  <div class="field">
    <%= form.label :date_of_entry %>
    <%= form.date_select :date_of_entry, id: :component_date_of_entry %>
  </div>

  <div class="field">
    <%= form.label :cataloger %>
    <%= form.text_field :cataloger, id: :component_cataloger %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
