<p id="notice"><%= notice %></p>

<h1>Components</h1>

<table>
  <thead>
    <tr>
      <th>Local identifer</th>
      <th>Identifier</th>
      <th>Previous ids</th>
      <th>Work</th>
      <th>Description en</th>
      <th>Description jp</th>
      <th>Contributors jp</th>
      <th>Contributors jp</th>
      <th>Creation date</th>
      <th>Color</th>
      <th>Sound</th>
      <th>Run time</th>
      <th>Collection</th>
      <th>Media type</th>
      <th>Media format</th>
      <th>Component type</th>
      <th>Relation</th>
      <th>Film print type</th>
      <th>Fps</th>
      <th>Brand</th>
      <th>File ame</th>
      <th>Codec</th>
      <th>Codec</th>
      <th>File size gb</th>
      <th>Duration</th>
      <th>Bit rate</th>
      <th>Dimensions</th>
      <th>Display aspect ratio</th>
      <th>Bit depth</th>
      <th>Scan type</th>
      <th>Encoded date</th>
      <th>Provenance</th>
      <th>Viewing restrictions</th>
      <th>Terms governing use</th>
      <th>Housing annotations</th>
      <th>Item annotations</th>
      <th>Condition notes</th>
      <th>Notes</th>
      <th>Date of entry</th>
      <th>Cataloger</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @components.each do |component| %>
      <tr>
        <td><%= component.local_identifer %></td>
        <td><%= component.identifier %></td>
        <td><%= component.previous_ids %></td>
        <td><%= component.work %></td>
        <td><%= component.description_en %></td>
        <td><%= component.description_jp %></td>
        <td><%= component.contributors_jp %></td>
        <td><%= component.contributors_jp %></td>
        <td><%= component.creation_date %></td>
        <td><%= component.color %></td>
        <td><%= component.sound %></td>
        <td><%= component.run_time %></td>
        <td><%= component.collection %></td>
        <td><%= component.media_type %></td>
        <td><%= component.media_format %></td>
        <td><%= component.component_type %></td>
        <td><%= component.relation %></td>
        <td><%= component.film_print_type %></td>
        <td><%= component.fps %></td>
        <td><%= component.brand %></td>
        <td><%= component.file_ame %></td>
        <td><%= component.codec %></td>
        <td><%= component.codec_id %></td>
        <td><%= component.file_size_gb %></td>
        <td><%= component.duration %></td>
        <td><%= component.bit_rate %></td>
        <td><%= component.dimensions %></td>
        <td><%= component.display_aspect_ratio %></td>
        <td><%= component.bit_depth %></td>
        <td><%= component.scan_type %></td>
        <td><%= component.encoded_date %></td>
        <td><%= component.provenance %></td>
        <td><%= component.viewing_restrictions %></td>
        <td><%= component.terms_governing_use %></td>
        <td><%= component.housing_annotations %></td>
        <td><%= component.item_annotations %></td>
        <td><%= component.condition_notes %></td>
        <td><%= component.notes %></td>
        <td><%= component.date_of_entry %></td>
        <td><%= component.cataloger %></td>
        <td><%= link_to 'Show', component %></td>
        <td><%= link_to 'Edit', edit_component_path(component) %></td>
        <td><%= link_to 'Destroy', component, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Component', new_component_path %>
