<p id="notice"><%= notice %></p>

<p>
  <strong>Local identifer:</strong>
  <%= @component.local_identifer %>
</p>

<p>
  <strong>Identifier:</strong>
  <%= @component.identifier %>
</p>

<p>
  <strong>Previous ids:</strong>
  <%= @component.previous_ids %>
</p>

<p>
  <strong>Work:</strong>
  <%= link_to(@component.work, work_path(@component.work)) %>
</p>

<p>
  <strong>Artists:</strong>
  <ul>
    <%= @component.artists.collect do |artist| %>
    <li><%= link_to(artist, artist_path(artist)) %></li>
    <% end.join.html_safe %>
  </ul>
</p>

<p>
  <strong>Description en:</strong>
  <%= @component.description_en %>
</p>

<p>
  <strong>Description jp:</strong>
  <%= @component.description_jp %>
</p>

<p>
  <strong>Contributors jp:</strong>
  <%= @component.contributors_jp %>
</p>

<p>
  <strong>Contributors jp:</strong>
  <%= @component.contributors_jp %>
</p>

<p>
  <strong>Creation date:</strong>
  <%= @component.creation_date %>
</p>

<p>
  <strong>Color:</strong>
  <%= @component.color %>
</p>

<p>
  <strong>Sound:</strong>
  <%= @component.sound %>
</p>

<p>
  <strong>Run time:</strong>
  <%= @component.run_time %>
</p>

<p>
  <strong>Collection:</strong>
  <%= @component.collection %>
</p>

<p>
  <strong>Media type:</strong>
  <%= @component.media_type %>
</p>

<p>
  <strong>Media format:</strong>
  <%= @component.media_format %>
</p>

<p>
  <strong>Component type:</strong>
  <%= @component.component_type %>
</p>

<p>
  <strong>Relation:</strong>
  <%= @component.relation %>
</p>

<p>
  <strong>Film print type:</strong>
  <%= @component.film_print_type %>
</p>

<p>
  <strong>Fps:</strong>
  <%= @component.fps %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @component.brand %>
</p>

<p>
  <strong>File ame:</strong>
  <%= @component.file_ame %>
</p>

<p>
  <strong>Codec:</strong>
  <%= @component.codec %>
</p>

<p>
  <strong>Codec:</strong>
  <%= @component.codec_id %>
</p>

<p>
  <strong>File size gb:</strong>
  <%= @component.file_size_gb %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @component.duration %>
</p>

<p>
  <strong>Bit rate:</strong>
  <%= @component.bit_rate %>
</p>

<p>
  <strong>Dimensions:</strong>
  <%= @component.dimensions %>
</p>

<p>
  <strong>Display aspect ratio:</strong>
  <%= @component.display_aspect_ratio %>
</p>

<p>
  <strong>Bit depth:</strong>
  <%= @component.bit_depth %>
</p>

<p>
  <strong>Scan type:</strong>
  <%= @component.scan_type %>
</p>

<p>
  <strong>Encoded date:</strong>
  <%= @component.encoded_date %>
</p>

<p>
  <strong>Provenance:</strong>
  <%= @component.provenance %>
</p>

<p>
  <strong>Viewing restrictions:</strong>
  <%= @component.viewing_restrictions %>
</p>

<p>
  <strong>Terms governing use:</strong>
  <%= @component.terms_governing_use %>
</p>

<p>
  <strong>Housing annotations:</strong>
  <%= @component.housing_annotations %>
</p>

<p>
  <strong>Item annotations:</strong>
  <%= @component.item_annotations %>
</p>

<p>
  <strong>Condition notes:</strong>
  <%= @component.condition_notes %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @component.notes %>
</p>

<p>
  <strong>Date of entry:</strong>
  <%= @component.date_of_entry %>
</p>

<p>
  <strong>Cataloger:</strong>
  <%= @component.cataloger %>
</p>

<%= link_to 'Edit', edit_component_path(@component) %> |
<%= link_to 'Back', components_path %>
