<p id="notice"><%= notice %></p>
<h2><%= @artist.name %></h2>

<%= image_tag @artist.image.variant(resize: "200x200") %>
<p>
  <strong>Works </strong>
  <ul class="list-unstyled">
    <%= @artist.works.uniq.collect do |work| %>
      <%= content_tag(:li, link_to(work, solr_document_url("work_#{work.id}"))) %>
      <% end.join.html_safe %>
  </ul>
</p>

<% if  @artist.viaf_identifier %>
<p>
  <strong>Viaf identifier:</strong>
  <%= @artist.viaf_identifier %>
</p>
<% end %>

<% if  @artist.local_identifier %>
<p>
  <strong>Local identifier:</strong>
  <%= @artist.local_identifier %>
</p>
<% end %>
