<p id="notice"><%= notice %></p>
<h2><%= @artist.name %></h2>

<% if @artist&.image&.attached? %>
<%= image_tag @artist.image.variant(resize: "200x200") %>
<% end %>
<p>
  <strong>Works </strong>
  <ul class="list-unstyled">
    <%= @artist.works.uniq.collect do |work| %>
      <%= content_tag(:li, link_to(work, solr_document_url("work_#{work.id}"))) %>
      <% end.join.html_safe %>
  </ul>
</p>
