<h1 class="text-center"> <%= t('about.title')%></h1>

<div class="img-splash row">
  <div class="col-md-3 col-md-offset-1"><%= image_tag("collection-survey-resized.jpg", class: "img-responsive") %></div>
  <div class="col-md-3"><%= image_tag("Seizoki2-resized.jpg", class: "img-responsive") %></div>
  <div class="col-md-3"><%= image_tag("film-cannisters-resized.jpg", class: "img-responsive") %></div>
</div>

<div class="row"><div class="col-md-3 col-md-offset-2">
    <p>
    <%= t('home.text') %>
    </p>

  </div>
  <div class="col-md-3 col-md-offset-1">
    2015年に設立されたアメリカ、フィラデルフィアの非営利団体、コラボラティブ・カタロギング・ジャパン（CCJ)は戦後日本の実験映画とビデオ作品（1950-1980s）を所蔵するコレクション、及び美術館、大学、図書館、アーカイブ、個人コレクションと一緒に記録や保存に関する課題を考え、ソルーションへ向けて活動をします。そして研究者や一般へその資料のアクセスを提供することを目的としています。
    <br/>
    そのコレクション機関や個人とパートナーシップをくみ、統一的メタデータの抽出を考えることで共有可能なデータベース制作へのインフラ構築を目指します。その記録制作の作業に加えCCJは作品自体の保存のサポートを通し実験映像レガシーのメインテナンスのアシストをします。さらに日本国外での展覧や上映プログラムを通してレガシーの海外で紹介をします。また関連資料を一般に公開するプランによって世界のキュレーター、アーキビスト、研究者、アーティスト、学生のリサーチに貢献することを目標としています。
</div>
