<h1 class="text-center"> <%= t('home.title')%></h1>

<div class="img-splash row">
  <div class="col-md-3"><%= image_tag("collection-survey-resized.jpg", class: "img-responsive") %></div>
  <div class="col-md-3"><%= image_tag("Seizoki2-resized.jpg", class: "img-responsive") %></div>
  <div class="col-md-3"><%= image_tag("film-cannisters-resized.jpg", class: "img-responsive") %></div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
  <%= t('home.text') %>
  </div>
   
</div>
