<div id="content" class="<%= show_content_classes %>">
  <p id="notice"><%= notice %></p>
  <h2>
    <%= @work.title_en %> / <%= @work.title_jp %>
  </h2>

  <ul class="list-unstyled">
    <%= @work.artists.collect do |artist| %>
      <%= content_tag(:li, content_tag(:h3, link_to(artist.name, artist_path(artist.id)))) %>
    <% end.join.html_safe %>
  </ul>

  <row class="container">
    <div class="row">
      <div class="col-md-6">
        <h4> Description </h4>
        <%= @work.description_en %>
        <br />
        <%= @work.description_jp %>
      </div>
      <div class="col-md-6">
        <h4> Components (<%= @work.components.count %>)</h4>
        <div class="components-on-work-page">
          <ul class="list-unstyled">
          <%= @work.components.group_by(&:collection).collect do |collection, components| %>
            <h5> Held By: <%= collection %></h5>
              <%= components.each_with_index.collect do |component, index| %>
              <li class="component-list-item">
                <h6><%= link_to("#{component}", component_path(component)) %></h6>
                <ul class="list-unstyled">
                <%= work_page_fields(component).collect do |k,v| %>
                  <li>
                    <strong><%= t("component.#{k}") %>:</strong> <%= v %>
                  </li>
                <% end.join.html_safe %>
                </ul>
              </li>
              <% unless index+1 >= components.count %>
              <hr>
              <% end %>
              <% end.join.html_safe %>
          <% end.join.html_safe %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
