<div id="content" class="<%= show_content_classes %>">
  <p id="notice"><%= notice %></p>
  <h2>
    <%= @work.title %>
  </h2>

  <p> <strong> Artists </strong>
    <ul>
      <%= @work.artists.collect do |artist| %>
        <%= content_tag(:li, artist.name) %>
      <% end.join.html_safe %>
    </ul>
  </p>


    <p>
      <strong>Description</strong>
    </p>
    <p>
      <%= @work.description_en %>
      <br />
      <br />
      <%= @work.description_jp %>
    </p>

  <p> <strong> Components </strong>
    <ul>
      <%= @work.components.collect do |component| %>
      <li>
        <%= render('components/fields', component: component) %>
      </li>

      <% end.join.html_safe %>
    </ul>
  </p>


  <p>
    <strong>Local:</strong>
    <%= @work.local_id %>
  </p>

</div>
